<div class="container mt-2">
  <div class="border border-dark shadow-lg p-3 bg-body rounded">
    <div class="text-center mb-2">Sign up Page</div>

    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input
            ngModel 
            name="name"
              type="name"
              class="form-control"
              id="exampleInputName1"
            />
          </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
        ngModel 
            name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          ngModel 
            name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
